/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


#wrapper {
	-moz-box-shadow:inset 0px 7px 0px 0px #FFFFFF;
	-webkit-box-shadow:inset 0px 7px 0px 0px #FFFFFF;
	box-shadow:inset 0px 7px 0px 0px #FFFFFF;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #D2E9FF) );
	background:-moz-linear-gradient( center top, #ededed 5%, #D2E9FF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#D2E9FF');
	background-color:#ededed;
	float: left;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 10px;
}



#full{

	float: left;
}

.busqueda{
	float: left;
margin-left: 90px;
margin-top: 5px;

}
#user_nav{
	float: right;
	padding-top: 10px;
	width: 195px;
	text-align: center;
	height: 58px;

}





body {
	font: bold 11px/1.5em Verdana;
	}
	


hr {
	border:none;
	border-top:1px solid #CCCCCC;
	height:1px;
	margin-bottom:25px;
	}
	
#tabs {
	float:left;
	width:555px;
	background:#F4F7FB;
	font-size:12px;
	line-height:normal;
	border-bottom:1px solid #BCD2E6;
	}
#tabs ul {
	margin:0;
	padding:10px 10px 0 10px;
	height: 28px;
	list-style:none;
	}
#tabs li {
	display:inline;
	margin:0;
	padding:0;
	}
#tabs a {
	float:left;
	background:url("tableft.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	}
#tabs a span {
	float:left;
	display:block;
	background:url("tabright.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#627EB7;
	}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}
/* End IE5-Mac hack */
#tabs a:hover span {
	color:#627EB7;
	}
#tabs a:hover {
	background-position:0% -42px;
	}
#tabs a:hover span {
	background-position:100% -42px;
	}  

textarea{ height: 80px;}

table{

	text-align: center;
}

#imagen{
	width: 200px;
	height: 250px;
	float: right;

}
#imagen2{
	width: 60px;
	height: 80px;
	float: left;
	padding: 5px;
	border-radius: 3px;
}
 #flashmsg{

-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
	background-color:#79bbff;	
	color:#ffffff;	
	text-indent:0;
	border:1px solid #79bbff;	
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	font-style:normal;	
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #689324;
	float: left;
	width: 750px;
}

#flashmsg ul{
	padding-left: 0px;
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 10px;
height: 25px;

}
body{
	float: left;
	width: 750px;
	margin-left: 100px;
	margin-right: 100px;
}

#contenPost{	
	margin-top: 5px;	
	margin-bottom: 5px;
	border:solid 2px #b7ddf2;
	border-radius: 10px;
 	background:#ebf4fb;
 	padding-bottom: 5px;
 	float: left;
 	width: 750px;
}

#tr{	
	margin-top: 5px;	
	margin-bottom: 5px;
	border:solid 2px #b7ddf2;
	border-radius: 10px;
 	background:#ebf4fb;
 	padding-bottom: 5px;
 	float: left;
 	width: 750px;
}





#contenPost #texto{
	float: left;
	text-align: left;
	font-size: 14px;
	padding: 5px;
	height: 80px;
	width: 390px;
	text-shadow:0px 1px 0px #810e05;
}


#tableConten{
	width: 685px;

}


 #ficha{
	float: left;
	text-align: left;	
	font-size: 14px;
	width: 750px;
	text-shadow:0px 1px 0px #810e05;

	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:9px;
	-moz-border-radius-bottomright:9px;
	border-bottom-right-radius:9px;
	-webkit-border-bottom-left-radius:9px;
	-moz-border-radius-bottomleft:9px;
	border-bottom-left-radius:9px;
	text-indent:0;
	border:1px solid #469df5;

}

#ficha label{
	text-align: right;
	margin-right: 5px;
	width: 240px;

}

#input{
	float: left;
	margin: 8px;
	width: 730px;



}




#contenPost #opciones{
	font-size: 12px;
	//background-color: lightblue;
	text-align: right;
	border-radius: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
	width: 100px;

}

#contenPost #opciones #botonIzq{
	width: 80px;
	height: 25px;
	margin-bottom: 3px;

}
#fullConten{	
	margin-top: 5px;	
	margin-bottom: 5px;
	border:solid 2px #b7ddf2;
	border-radius: 10px;
 	background:#ebf4fb;
 	padding-bottom: 5px;
 	float: left;
 	width: 690px;
}

.field_with_errors{
 font-size:20px;
 color:#666666;
 border:solid 1px red;
 width: 680;
}





#titulo{/*
	margin-top: 5px;
	font-size: 14px;
	//background-color: grey;
	//text-align: center;
	border-radius: 3px;
	text-decoration:none;*/

	-webkit-border-top-left-radius:9px;
	-moz-border-radius-topleft:9px;
	border-top-left-radius:9px;
	-webkit-border-top-right-radius:9px;
	-moz-border-radius-topright:9px;
	border-top-right-radius:9px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #469df5;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:16px;
	font-weight:normal;
	font-style:normal;
	height:22px;
	line-height:22px;
	width:100%;
	text-decoration:none;
	text-align:center;
	text-shadow:0px -3px 3px #287ace;

}

#fullConten #texto{
	font-size: 12px;
	text-align: right;
	//background-color: lightblue;
	//border-radius: 3px;
	//border: 1px solid blue;
	padding: 5px;
	width: 600px;
}

#fullConten #texto2{
	position: center;
	font-size: 18px;
	text-align: center;	
	width: 670px;
	//background-color: lightblue;
	//border-radius: 3px;
	//border: 1px solid blue;
	padding: 5px;
}

 #fullConten #texto2 p{
 	font-size: 14px;
 }

 #fullConten #texto p{
 	font-size: 14px;
 	width: 300px;
 }


.colorCeleste{
	-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
	background-color:#79bbff;	
	color:#ffffff;
}

#botonIzq {
	margin-left: 5px;
	float: left;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0px;
	display:inline-block;	
	font-family:Trebuchet MS;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	height:25px;
	line-height:25px;
	//width:58px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 3px 0px #287ace;
	padding-left: 10px;
	padding-right: 10px;
}

#botonIzq:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
	background-color:#4197ee;	
}

#botonIzq:active {
	position:relative;
	top:1px;
}

 h1 {
 	font-weight:bold;
 	margin-bottom:8px;
 	text-align: center;
 	text-shadow: 1px 1px 0 #287ACE;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;


 }

  p{
 color:#666666;
 margin-bottom:20px;
 border-bottom:solid 1px #b7ddf2;
 padding-bottom:10px;
 }



  
  label{
 display:block;
 font-weight:bold;
 text-align:right;
 width:140px;
 float:left;
 }
  .small{
 color:#666666;
 display:block;
 font-size:11px;
 font-weight:normal;
 text-align:right;
 width:140px;
 }



.error{
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #d02718;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	//width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
}



 .error{
	//background: -moz-linear-gradient(center top , #F24537 5%, #C62D1F 100%) repeat scroll 0 0 #F24537;
    //border: 1px solid #D02718;
    //border-radius: 6px;
    //box-shadow: 0 1px 0 0 #F5978E inset;
    //color: #FFFFFF;
    //font-family: Arial;
    //font-size: 15px;
    //font-style: normal;
    //font-weight: bold;
    //text-align: center;
    //text-decoration: none;
    //text-indent: 0;
    //text-shadow: 1px 1px 0 #810E05;
}

footer{
 font-size:10px;
 color:#666666;
 margin-bottom:20px;
 padding:20px;
 float: left;
 width: 860px;
 }

 #botonCeleste {
 	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
	background-color:#79bbff;	
	

    box-shadow: 0 1px 0 0 #CAE3FC inset;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0px;
	font-family:Trebuchet MS;
	font-size: 16px;
	font-weight:normal;
	font-style:normal;
	height:25px;
	line-height:25px;
	//width:58px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 3px 0px #287ace;
	padding-left: 10px;
	padding-right: 10px;
}

#botonCeleste:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
	background-color:#4197ee;	
}
#botonCeleste:active {
	position:relative;
	top:1px;
}
#botonCeleste a{
	text-decoration:none;
	color: #FFFFFF;
}
a{
	text-decoration:none;
}